@using (Html.BeginForm("signin", "oauth", FormMethod.Post)) {
  <ul class="inline">
    @foreach (var client in new []{ "GitHub", "Twitter", "Facebook", "Google" }) {
      <li>
        <button
          type="submit"
          name="provider"
          class="btn-auth btn-@client.ToLowerInvariant()"
          value="@client"
          title="Sign in">
          <b>@client</b>
        </button>
      </li>
    }
  </ul>
}