<div id="exported-document-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="close">&times;</button>
    <h3>Exported image</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-info hide">
      <i class="icon-info-sign"></i> 
      Your <abbr title="Portable Network Graphics">png</abbr> file is successfully generated, right click the following image and select <em>Save image as...</em>
    </div>
    <div class="image-holder">
      <img src="~/Content/images/spacer.gif" alt="Exported Image" class="img-polaroid" />
    </div>
  </div>
</div>