<div id="canvas-container">
  <h1 class="title-bar">Preview</h1>
  <div id="canvas-section">
    <div id="canvas-holder">
      <div id="canvas-wrapper">
        <div id="canvas"></div>
      </div>
    </div>
  </div>
</div>