<div id="editor-container">
  <div id="code-section" class="splitter-pane">
    <h1 class="title-bar">Code</h1>
    <div class="editor-text-wrapper">
      <textarea id="code-text-area" cols="2" rows="2"></textarea>
    </div>
  </div>
  <div id="output-section" class="splitter-pane">
    <h1 class="title-bar">Output</h1>
    <div class="editor-text-wrapper">
      <textarea id="output-text-area" cols="2" rows="2" readonly></textarea>
    </div>
  </div>
</div>