@using TextUml.Extensions
<header id="header" class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a href="@Url.Content("~/")" class="brand">Text Uml</a>
    <nav id="navigation">
      <ul class="nav">
        <li class="divider-vertical"></li>
        <li>
          <a href="@Url.Client("documents", "new")" data-command="newDocument">
            <i class="icon-file"></i> New
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="@Url.Client("documents")">
            <i class="icon-folder-open-alt"></i> Open
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="javascript:;" rel="nofollow" data-command="saveDocument">
            <i class="icon-ok"></i> Save
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="javascript:;" rel="nofollow" data-command="shareDocument">
            <i class="icon-share"></i> Share
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="javascript:;" rel="nofollow" data-command="exportDocument">
            <i class="icon-picture"></i> Export
          </a>
        </li>
        <li class="divider-vertical"></li>
      </ul>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
          <a href="javascript:;" rel="nofollow" data-command="myAccount">
            <i class="icon-user"></i> My Account
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>